{% extends 'front/base.html.twig' %}

{% block page_header %}
    <div class="formations-list-header">
        <div class="header-wrapper">
            <h1>{{ domain.title }}</h1>
        </div>
    </div>
{% endblock page_header %}

{% block content %}
    {% if domain.landingText is not empty %}
        <div class="col-12 margin-bottom-50">
            {{ domain.landingText|raw }}
        </div>
    {% endif %}
    <div class="formations-list">
        <ul>
            {% for formation in pager.currentPageResults %}
                {% include 'front/Blocks/listing/formation.html.twig' %}
            {% endfor %}
        </ul>
    </div>

    {% if pager.nbPages > 1 %}
    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap4') }}
    </div>
    {% endif %}
{% endblock content %}