<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>{{ content.mainTitle|raw }}</h1>
        <h2>{{ content.mainSubtitle|raw }}</h2>
        <a href="{{ content.mainButtonLink }}" class="btn-get-started scrollto">{{ content.mainButtonText }}</a>
    </div>
</section><!-- End Hero -->