/* Domains colors */

$domain-color-default: #4babad;
$domain-color-blue: #264893;
$domain-color-blue-corporate: #001e62;
$domain-color-blue-light: #009dd2;
$domain-color-blue-sky: #70cfeb;
$domain-color-blue-xlight: #3fb7b6;
$domain-color-green: #007930;
$domain-color-green-xlight: #76b72a;
$domain-color-green-xxlight: #84bb55;
$domain-color-green-dark: #6c6c6c;
$domain-color-green-xdark: #575756;
$domain-color-orangered: orangered;
$domain-color-orange: #ec6607;
$domain-color-orange-light: #ed7c42;
$domain-color-orange-xlight: #f39b29;
$domain-color-pink: #c30065;
$domain-color-pink-light: #f195be;
$domain-color-pink-salmon: #f5e6e3;
$domain-color-purple: #6e358b;
$domain-color-purple-light: #a790c4;
$domain-color-red: #c8181a;
$domain-color-red-corporate: #da291c;
$domain-color-turquoise: #007d99;
$domain-color-turquoise-light: #007d99;
$domain-color-yellow: #f6a200;
$domain-color-yellow-light: yellow;
$domain-color-brown: saddlebrown;