{% extends 'front/base.html.twig' %}

{% block header_top %}
{% endblock %}

{% block page_header %}
    <div class="edged-header">
        <div class="front-content container">
            <div class="header-wrapper col-12">
                <h1>{{ 'Contact'|trans }}</h1>
            </div>
        </div>
    </div>
{% endblock page_header %}

{% block content_wide %}
    <div class="col-12 contact">
        <div class="front-content container d-flex">
            <div class="col-4">
                <div class="underlined-chapter">
                    <h2>{{ 'By email'|trans }} <i class="bx bx-at"></i> </h2>
                    <div class="underlined-chapter-content padding-right-30">
                        <p>
                            Envoyez vos questions remarques suggestions à<br><br>
                            <a href="mailto:komkominc@gmail.com">komkominc@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="underlined-chapter">
                    <h2>{{ 'By phone'|trans }} <i class="bx bx-phone-call"></i></h2>
                    <div class="underlined-chapter-content padding-right-30">
                        Du <strong>lundi</strong> au <strong>vendredi</strong> de <strong>8h30</strong> à <strong>18h</strong>
                        <br><br>
                        <ul><li><a href="tel:00221775699544">+221 77 569 95 44</a></li></ul>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="underlined-chapter">
                    <h2>{{ 'By letter'|trans }} <i class="bx bx-envelope-open"></i></h2>
                    <div class="underlined-chapter-content padding-right-30">
                        <p>
                            <strong>Com Com INC</strong>
                            <br>
                            12, Route de Ouakam<br>
                            En face de la case des tout-petits<br>
                            BP: 5001 - Dakar<br>
                            <a href="https://goo.gl/maps/ixQQEXGmGQgezAAq7" target="_blank" class="btn common-button">
                                Comment s'y rendre
                                <i class="bx bx-location-plus"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content_wide %}