{% extends 'front/base.html.twig' %}

{% block header_top %}
{#    <div class="input-group mb-3 pull-right">#}
{#        <div class="input-group-prepend">#}
{#            <span class="input-group-text" id="basic-addon1">#}
{#                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>#}
{#            </span>#}
{#        </div>#}
{#        <input type="text" class="form-control" placeholder="{{ 'Search by keywords'|trans }}" aria-label="{{ 'Search by keywords'|trans }}" aria-describedby="basic-addon1">#}
{#    </div>#}
{% endblock %}

{% block content_wide %}
    {% include 'front/home/block-top.html.twig' %}
    {% include 'front/home/why-us.html.twig' %}
    {% include 'front/home/about.html.twig' %}
    {% include 'front/home/services.html.twig' %}
{% endblock content_wide %}